button {
  background-color: black; /* Green */
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    border-radius: 10px;
}

.offers .offers1 button{
    
   background-color: rgba(0,0,0,.5);
}

.offers .offers2 button{
    
    background-color: rgba(0,0,0,.5);
}

