.offers {
    padding-top: 150px;
    padding-left: 200px;
}

.offers1 {
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 5px;
    padding-right: 150px;
    padding-bottom: 5px;
    padding-left: 150px;
}

.offers2 {
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 5px;
    padding-right: 150px;
    padding-bottom: 5px;
    padding-left: 150px;
}

::-webkit-scrollbar {
    background: transparent;
    border-radius: 5px;
    height: 4px;
    margin: 0;
    padding: 0;
    width: 4px;
}

